* { margin: 0; padding: 0; }

body {
    background-color : #E7FFFF;
}

#content {
    font: 14px/1.4 "Chalkboard", "Comic Sans MS";
    margin: 0 auto;
    width: 650px;
    height: 100%;
//    border-right: 1px dotted #ccc;
//    border-left: 1px dotted #ccc;
    background-color : #fff;
}

#wrap {
    margin: 0 auto;
    width : 600px;
}

#title {
    width: 100%;
    height: 90px;
    background-color: #fff;
    text-align: center;
    border: 1px dotted #ccc;
}


#title p{
    display:inline;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 32pt;
    text-transform: uppercase;
}

#title img{
    width: 90px;
//    border: 1px solid black;
    vertical-align: baseline;
    margin-bottom:-30px;
}

#menu {
    height:60px;
    width: 100%;
//    border: 1px solid black;
//    background-color: red;
}

.column1 {
    background-color: #fff;
    width: 262px;
    height: 70px;
//    width: 270px;
    float:left;
    padding:15px;
    margin:5px;
    margin-left:0px;
    border: 1px dotted #ccc;
}

.column2 {
    background-color: #fff;
    width: 262px;
    height: 70px;
//    width: 270px;
    float:right;
    padding:15px;
    margin:5px;
    margin-right:0px;
    border: 1px dotted #ccc;
}


#name {
}

#available {
}

#machinestatus {
//    display:inline;
    padding : 5px;
}

#footer {
    padding: 20px;
    text-align:center;
    font: normal 70% "Chalkboard", "Comic Sans MS";
}
