* { margin: 0; padding: 0; }
body { font: 13px/1.4 Georgia, serif; }
#page-wrap { /*width: 600px; margin: 15px auto; position: relative;*/ }
#main { width: 390px; float: left; }
#ribbon img {position:fixed; right:0px; top:0px;
margin:0px;padding:0px;}

.debug {color:fff; background-color:FF0000;}

#marubastu img { display:block;}
#marubastu  { position: absolute;right:60px;}



/* Greyscale
Table Design by Scott Boyle, Two Plus Four
www.twoplusfour.co.uk
----------------------------------------------- */

table {border-collapse: collapse;
border: 2px solid #000;
font: normal 140% Times New Roman;
color: #555;
background: #fff;}

tr .tf {
    font: normal 140% Times New Roman;
    color: #ccc;
    text-align: center;
}

td, th {
border: 1px dotted #bbb;
//border-top: 1px dotted #bbb;
padding: .5em;}



/* =head =foot
----------------------------------------------- */

thead th, tfoot th {border: 2px solid #000;
text-align: left;
font-size: 1.2em;
font-weight: bold;
color: #333;
background: transparent;}

tfoot td {border: 2px solid #000;}

/* =body
----------------------------------------------- */

tbody th, tbody td {vertical-align: middle;
text-align: left;}

tbody th {white-space: nowrap;}

.odd {background: #fcfcfc;}

tbody tr:hover {/*background: #fafafa;*/}
tbody .tf:hover {background: #f9f9f9;}


.number {width:40px; text-align:center; border-right: 0px;}

.quiz {width:70%; margin-left:40px; border-left: 0px;}

#content {
    margin: 0 auto;
    width: 70%;
    min-width: 500px;
    position: relative;
}


#top {
    margin-top:80px;
    margin-bottom:30px;
    text-align:center;
}

#result {
    height: 200px;
    margin-top:40px;
    margin-bottom:30px;
    text-align:center;
}

#footer {
    text-align:center;
    font:  170% Times New Roman;
    padding: 30px;
}

#top p {font: normal 250% Times New Roman; margin:20px; display:inline;}

#top img { vertical-align:middle;}

table {
width:100%;
}

#result input {
    padding:10px;
    font-size: 16pt; 
    border:1px;
}

#refresh_btn {
    background-color: CCFFFF;
    color:aaa; 
}

#score {
    padding-top: 10px;
    margin: 30 auto;
    text-align:center;
    width: 200px;

    height:150px;
    border: 1px solid #C0C0C0;
}


#comment {
    color:red;
    font-size: 18pt;
    padding-top: 35px;
}

#score_num {
    font-size: 48pt;
    padding-top: 45px;
}

tr {
    height: 80px;
}