body {
  background-color: #f1f1f1;
  font-size: 16px;     
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h3 {
  padding: 0.8em 0.5em 0.8em 0.3em;
}
#logo{
  margin-top: -3px;
  margin-right: 7px;
}
.building{
  float: left;  /* parent should use overflow to prevent broken */
  padding: 50px 0 0 30px;
}

/*
.building img:hover{
  margin-top: -7px;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
 */
      
#left{
  float: left;
  display: block;
  overflow: hidden;
  width: 70%;
  height: 100%;
  margin: 7px;
  padding: 5px;

/*
  background-color: #ffffff;
  border: 1px #d5d5d5 solid;
        
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;*/
}
#right{
  display: block;
  overflow: hidden;
  width: 25%;
  height: 500px;
  margin: 7px;
}
.title{
  padding-left: 5px;
}
.machine_status {
  padding: 7px;
}
.machine_status img{
  height: 45px;
}
#loginBt{
  color: #ffffff;
  margin: 0;
}
.machine_status{
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

.machine_status img{
  margin: 0 5px 0 5px;
}

.machine{
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
}

#problemArea{
  margin-top: 10px;
  padding: 5px 5px 5px 10px;

  background-color: #ffffff;
  border: 1px #d5d5d5 solid;
        
  -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
        border-radius: 7px;
}

#problemArea h4{
  padding: 5px;

}

#problemList li{
  
  list-style-image: url('../../img/others/problem.png');
  padding-left: 3px;
  padding-top: 3px;
}


#map_canvas { 
    
    height: 460px; 
    width: 100%;
    display: block;

}
.spliter {
    padding:5px; 
    border-bottom: 1px solid #dddddd;
}

.question {
    padding:50px;
    border:1px solid #dddddd;
}

img.ceil:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

img.winclick:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

img#sun:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#mrc_1 {
    position: absolute;
    top: 560px;
    left: 320px;
}

#mrc_2 {
    position: absolute;
    top: 485px;
    left: 440px;
}

#mrc_3 {
    position: absolute;
    top: 340px;
    left: 420px;
}

#mrc_4 {
    position: absolute;
    top: 450px;
    left: 530px;
}

#mrc_5 {
    position: absolute;
    top: 300px;
    left: 530px;
}
.mrc_num {
/*    border: 1px #ff0000 solid;*/
    padding-left: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -73px;
    margin-left: 28px;
}

div.offline {
    opacity: 0.18;
    filter: alpha(opacity=18);
}

/*#building_1 {
    position: absolute;
    top: 200px;
    left: 100px;
}

#building_2 {
    position: absolute;
    top: 200px;
    left: 120px;
}*/
