body {
  background-color: #f1f1f1;
  font-size: 16px;     
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h3 {
  padding: 0.8em 0.5em 0.8em 0.3em;
}
#logo{
  margin-top: -3px;
  margin-right: 7px;
}
.building{
  float: left;  /* parent should use overflow to prevent broken */
  padding: 50px 0 0 30px;
}


      
#left{
  float: left;
  display: block;
  overflow: hidden;
  width: 70%;
  height: 100%;
  margin: 7px;
  padding: 5px;

}
#right{
  display: block;
  overflow: hidden;
  width: 25%;
  height: 500px;
  margin: 7px;
}
.title{
  padding-left: 5px;
}
.machine_status {
  padding: 7px;
}
.machine_status img{
  height: 45px;
}
#loginBt{
  color: #ffffff;
  margin: 0;
}
.machine_status{
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

.machine_status img{
  margin: 0 5px 0 5px;
}

.machine{
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
}

#problemArea{
  margin-top: 10px;
  padding: 5px 5px 5px 10px;

  background-color: #ffffff;
 /* border: 1px #d5d5d5 solid;
        
  -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
        border-radius: 7px;*/
}

#problemArea h4{
  padding: 5px;

}

#problemList li{
  
  list-style-image: url('./img/others/problem.png');
  padding-left: 3px;
  padding-top: 3px;
}


#map_canvas { 
    
    height: 460px; 
    width: 100%;
    display: block;

}
.spliter {
    padding:5px; 
    border-bottom: 1px solid #dddddd;
}

.question {
    padding:50px;
    border:1px solid #dddddd;
}

img.ceil:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

img.winclick:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

img#sun:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#mrc_1 {
    position: absolute;
    top: 550px;
    left: 370px;
}

#mrc_2 {
    position: absolute;
    top: 500px;
    left: 500px;
}

#mrc_3 {
    position: absolute;
    top: 335px;
    left: 455px;
}

#mrc_4 {
    position: absolute;
    top: 460px;
    left: 600px;
}

#mrc_5 {
    position: absolute;
    top: 300px;
    left: 550px;
}

#building_1 {
    position: absolute;
    width: 480px;
    top: 200px;
    left: 120px;
}

#building_2 {
    position: absolute;
    width: 125px;
    top: 270px;
    right: 40%;
}

#win_1{
    position: absolute;
    width: 86px;
    top: 359px;
    left: 279px;
}

#win_2{
    position: absolute;
    width: 91px;
    top: 338px;
    left: 333px;
}

#win_3{
    position: absolute;
    width: 79px;
    top: 322px;
    left: 393px;
}

#win_4{
    position: absolute;
    width: 68px;
    top: 304px;
    left: 440px;
}

#win_5{
    position: absolute;
    width: 68px;
    top: 286px;
    left: 477px;
}

#ceil_1{
    position: absolute;
    width: 86px;
    top: 312px;
    left: 163px;
}

.mrc_num {
/*    border: 1px #ff0000 solid;*/
    padding-left: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -90px;
    margin-left: 36px;
}

div.offline {
    opacity: 0.18;
    filter: alpha(opacity=18);
}


#info img{
    width: 30px;
    margin-left: 20px;
}
#info {
    position: absolute;
    top:510px; 
    right: 40%;
    font-size: 14px;
}

#feedbackHistory {
  /*margin-top: 10px;
  padding: 5px 5px 5px 10px;
*/
  background-color: #ffffff;
/*  border: 1px #d5d5d5 solid;
        
  -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
        border-radius: 7px;
*/

}
#feedbackList li.sound{
  list-style-image: url('./img/others/sound.gif');
  padding-left: 3px;
  padding-top: 3px;
}
#feedbackList li.positive{
  
  list-style-image: url('./img/others/smile.png');
  padding-left: 3px;
  padding-top: 3px;
}

#feedbackList li.negative{
  
  list-style-image: url('./img/others/sad.png');
  padding-left: 3px;
  padding-top: 3px;
}


#myTabContent div.tabStyle{
  margin: 0px;
  background-color: #ffffff;
  padding: 10px;
 border-left: 1px #d5d5d5 solid;
  border-right: 1px #d5d5d5 solid;
  border-bottom: 1px #d5d5d5 solid;
  -webkit-border-bottom-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
        border-bottom-left-radius: 7px;

    -webkit-border-bottom-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
        border-bottom-right-radius: 7px;

}
.slider {
  width: 300px;
  padding: 5px 0 5px 0;
  margin: 10px 0 30px 0;
  font-weight: bold;
}
.slider_ui {
  margin: 7px 0 7px 0;
}

.slider_value{
  margin-left: 3px;
}
.s_min {
  float: left;
  font-size: 12px;
}
.s_max {
  float: right;
  font-size: 12px;
}
#update_slider{
  color: #F52887;
  font-weight: bold;
  font-size: 13px;
}
#user_preference{
  font-size: 13px;
  margin-left: 5px;
}
